<section class="about">

<header class="page-header">
    <h1>About Us</h1>
  </header>

<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <p class="lead text-muted mb-0">An internet shop dedicated to serve you in everything you need to make your life more comfortable. You can shop from the comfort of your home, and we deliver to your door step, with the convenience of paying with credit card, and free delivery.</p>
        
        <%= link_to ' Get In Touch', 'mailto:admin@jungle.com', class: 'btn btn-lg btn-info' %>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>
</section>